
body {
margin: 0;
}
.main {
    padding: 3em;
    display: grid;
    grid-gap: 2em;
    margin-top: 10%;
    margin-bottom: 10%;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
     height: 330px;



}
.overflowCard{
    display: flex;
    height: 400px;
  background-color: lightcyan;
    border-bottom: 4px solid black;
    overflow: hidden;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.card {
    display: flex;
    overflow: hidden;
    top: 50%;
    flex-direction: column;
    position: relative;
    border-radius:  30px;
    background-color: lightskyblue;
    height: 500px;
    width: 100%;


    transition: 1s;
    padding: 0;

}
.animationContainer {
    display: flex;
    overflow: hidden;


    height: 40%;
    width: 100%;
    background-color: lightgray;
    transition: 1s;

}
.animationContainer2 {
    overflow: hidden;

    height: 40%;
    width: 100%;
    background-color: lightgray;
    transition: 1s;
}
.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
background-color: lightskyblue;
    width: 100%;
    height: 60%;

}
h2 {
    color: white;
    margin-bottom: 0;
}
p{  font-weight: bold;
    color: white;
    margin: 20px
}
button{
    outline: none;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: white;
    transition: 1s;
    font-weight: bold;

}
button:hover {
 transform: scale(1.2);
}

.card:hover {

    transition: 1s;
    top: 0;

}@keyframes animate55 {
     0% {
         transform: translateY(300px);
     }

     100% {
         transform: translateY(-50px);
     }

 }
@keyframes animate5 {
    0% {
        transform: translateY(0px) scale(1);
    }

    100% {
        transform: translateY(30px) scale(1.5);
    }

}

@keyframes animate3 {
    0% {
        transform: translateX(400px);
    }

    100% {
        transform: translateX(-100px);
    }

}

@keyframes animate2 {
    0% {
        transform: translateX(0) translateY(0px);
    }

    100% {
        transform: translateX(-100px) translateY(300px);
    }

}
@keyframes animate {
    0% {
            transform: translateY(-50px);
    }

    100% {
            transform: translateY(300px);
    }

}
.card:hover .rain{
    opacity: 1;
}
.card:hover  .rain2 {
    opacity: 1;
}
.card:hover  .img {

animation: forImage 2s linear infinite;

}
.card:hover  .img2 {
    animation: forImage2 2s linear infinite;
}
.card:hover  .img3 {
    animation: forImage3 2s linear infinite;
}
.card:hover  .img5 {
    transform: translateY(0px) scale(1.5);
    transition: 2s ;
}
.card:hover .img4 {
    transform: rotateZ(-5deg) ;
    transition: 1s;
    animation: forImage4 2s linear infinite;


}
@keyframes forImage4 {

    0% {
        transform: rotateZ(-5deg) scale(-1,1) ;
    }
    25% {
        transform: rotateZ(-10deg) scale(-1,1) ;

    }

    50% {
        transform: rotateZ(-20deg) scale(-1,1) ;
    }
    75% {
        transform: rotateZ(-10deg) scale(-1,1) ;
    }

    100% {
        transform: rotateZ(-5deg) scale(-1,1);
    }
}

@keyframes forImage3 {

    0% {
        transform: rotateZ(0deg) ;
    }
    25% {
        transform: rotateZ(25deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    75% {
        transform:rotateZ(-25deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes forImage2 {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }

}
@keyframes forImage {
    0% {
        transform: rotateZ(0deg) translateX(0px);
    }
    25% {
        transform: rotateZ(50deg) translateX(-50px);
    }
    50% {
        transform: rotateZ(0deg) translateX(0px);
    }
    75% {
        transform: rotateZ(-50deg) translateX(50px);
    }
    100% {
        transform: rotateZ(0deg) translateX(0px);
    }

}


.rain { opacity: 0;

    display: flex;
    transition: 1s;

}
.rain2 {
    opacity: 0;
    display: flex;
    transition: 1s;
    flex-direction: column;

}
.subContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 40%;
    width: 100%;
}

img {


   position: relative;
    max-height: 100px;
    max-width: 100px;



}
.img4 {transition: 1s;
    transform: scale(-1,1)
}


.cloud, .cloud1, .cloud2, .cloud5 {
    border-radius: 70%;
    margin: 10px;
    position: relative;
    width: 40px;
    height: 10px;
    background: white;

    transition: 1s;

}
.cloud {
    animation:animate55 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transition: 1s;
}
.cloud1 {

    animation:animate2 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transition: 1s;

}
.cloud2 {
    animation:animate3 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transition: 1s;
}
.cloud5 {
    animation:animate 5s linear infinite;
    animation-duration: calc(15s / var(--i));
    transition: 1s;
}
.cloud::before, .cloud1::before, .cloud2::before, .cloud5::before {
    content: '';
    position: absolute;
    top: -20%;
    left: 10px;

    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    box-shadow: 10px 0 0 5px white;

}
